<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
 
    <%- include('./partials/nav.ejs')  %> 


    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, nobis atque voluptas inventore repudiandae nemo odio dolorem tempore dicta provident hic ipsum. Odit optio sit possimus ullam rerum quam et!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, nobis atque voluptas inventore repudiandae nemo odio dolorem tempore dicta provident hic ipsum. Odit optio sit possimus ullam rerum quam et!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, nobis atque voluptas inventore repudiandae nemo odio dolorem tempore dicta provident hic ipsum. Odit optio sit possimus ullam rerum quam et!</p>
    </div>   
    <%- include('./partials/footer.ejs')  %>
</body>
</html>